.popup__button-save {
  margin: 48px 0 0;
  padding: 0;
  max-width: 358px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 417px) {
  .popup__button-save {
    max-height: 47px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 44px;
  }
}

.popup__button-save:hover, .popup__button-save:focus{
  opacity: 0.8;
}

