.popup__button-save {
  margin: 34px 0 0;
  padding: 0;
  max-width: 358px;
  min-height: 50px;
  background-color: #000;
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
}

@media screen and (max-width: 417px) {
  .popup__button-save {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}

.popup__button-save:hover, .popup__button-save:focus{
  opacity: .8;
}

