.profile__button-edit {
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 24px;
  min-height: 24px;
  align-self: center;
  cursor: pointer;
}

@media screen and (max-width: 908px) {
  .profile__button-edit {
    min-width: 18px;
    min-height: 18px;
    align-self: flex-end;
    margin-bottom: 7px;
  }
}

.profile__button-edit:hover, .profile__button-edit:focus{
  opacity: .6;
}
