.profile__avatar-box {
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}


