.popup__button-close {
  background-image: url(../../../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 518px) {
  .popup__button-close {
    top: -36px;
    right: 0px;
    width: 20px;
    height: 20px;
  }
}

.popup__button-close:hover, .popup__button-close:focus{
  opacity: 0.6;
}
