.element__button-trash {
  position: absolute;
  right: 20px;
  top: 20px;
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.element__button-trash:hover, .element__button-trash:focus {
  outline: none;
  opacity: .6;
}
