@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);
@import url(../blocks/button/button.css);
@import url(../blocks/main/main.css);

/* ------------- Блок header ------------- */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* ------------- Блок profile ------------- */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__button-link/profile__button-link.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__desc/profile__desc.css);
@import url(../blocks/profile/__avatar-box/profile__avatar-box.css);

/* ------------- Блок elements ------------- */
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__cell/element__cell.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__button-like/element__button-like.css);
@import url(../blocks/element/__button-like/_active/element__button-like_active.css);
@import url(../blocks/element/__button-trash/element__button-trash.css);

/* ------------- Блок footer ------------- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

/* ------------- Блок popup ------------- */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__block/popup__block.css);
@import url(../blocks/popup/__block/_type/popup__block_type_avatar.css);
@import url(../blocks/popup/__block/_type/popup__block_type_delete.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_type/popup__container_type_avatar.css);
@import url(../blocks/popup/__container/_type/popup__container_type_delete.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__items/popup__items.css);
@import url(../blocks/popup/__item/popup__item.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__figcaption/popup__figcaption.css);
@import url(../blocks/popup/__full-screen/popup__full-screen.css);
@import url(../blocks/popup/_background/popup_background.css);
@import url(../blocks/popup/__item/_type/popup__item_type_error.css);
/* @import url(../blocks/popup/__item/_type/popup__item_type_delete.css); */
@import url(../blocks/popup/__item-error/popup__item-error.css);
@import url(../blocks/popup/__item-error/_active/popup__item-error_active.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__field/_type/popup__field_type_delete.css);

@import url(../blocks/button/_inactive/button_inactive.css);
