.popup__container {
  position: relative;
  max-width: 430px;
  min-height: 330px;
  min-width: 282px;
  width: 100%;
  margin: 0;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 417px) {
  .popup__container {
    padding: 26px 22px 22px;
    min-height: 322px;
  }
}

