.element__button-like {
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
}

.element__button-like:hover, .element__button-like:focus {
  outline: none;
  opacity: .5;
}

.element__button-like:active {
  background-image: url(../../../images/like_active.svg);
  opacity: 1;
}
